@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, Arial, sans-serif;
}

.cabecalho_title{
    padding: 10px;
}

#title{
    font-family: "Sedan", serif;
    font-size: 3rem;
}

#sub_title{
    color: #494949;
    margin-bottom: 20px;
    text-align: center;
}
.container_login{
    width: 31.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px black;
    border-radius: 8px;
    padding: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
input{
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px black;
    border-radius: 8px;
}


.container_buttons{
    display: flex;
    align-self: flex-end;
    padding-right: 20px;
}
#submit{
    width: 8rem;
    cursor: pointer;
    padding: 2px;
    margin-right: 8px;
&:hover{
    text-decoration: underline;
    background-color: #494949;
    color: white;
    border-radius: 8px;
}}
#nova_senha{
    color: #68a4e1;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover{
    text-decoration: underline;
}}
.material-symbols-outlined{
    color: #68a4e1;
}
